@charset "UTF-8";

@font-face{
	font-family: 'general';
	src: url('/fonts/Montserrat-ExtraLight.ttf')
	format('ttf');
	font-display: swap;
}
:root {
  --primary-color: #000;
  --secondary-color: #fff;
 
}

li {
  font-size:  2.5rem;
}

a{
  font-size: 65.5%;
}
a:hover{
  color: rgb(243, 243, 243);
}

label{
  color: black;
}


html {
  font-size: 62.5%;
  line-height: 1;
  scroll-behavior: smooth;
  font-family: 'montserrat-lista';
}

body {
  margin: 0;
  color: var(--secondary-color);
  background-image: url("../img/bg.png") ;
  background-color: #cccccc;
  font-weight: normal;
 
  font-size: 1.6rem;
}

a {
  color: var(--secondary-color);
}

h1 {

  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1.3;
}

ul {
  padding: 0;
  list-style-type: none;
}


.bg-dark {
  padding: y 4px;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.665) !important;
  
}


.bg-dark .footer #footer-nav {
  padding: 20px 0;
}

.bg-dark .footer #footer-nav #footer-men {
  display: block;
}

.bg-dark .footer #footer-nav #footer-men li {
  margin: 10px 0;
  display: block;
}
.bg-dark .footer #footer-nav #footer-social  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0 0;
}

.bg-dark div a {
  color: white !important;
  text-decoration: none;
}
.bg-dark div #navbarSupportedContent .navbar-nav {
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  transition: all .3s linear;
}


.bg-dark .footer #footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





.contenedor .container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .contact-box {
  max-width: 850px;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.contenedor .left {
  display: none;
  background: url("/img/contactus.png") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}

#left1{
  background: url("/img/restó2.jpg") no-repeat center;
  background-size: cover;
}

.contenedor .right {
  padding: 25px;
  background-color: #fff;
  max-width: 400px;
}

.contenedor .right h1 {
  font-size: 22px;
  text-transform: uppercase;
}

.contenedor .campo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.contenedor .campo:focus {
  border: 2px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
}
.contenedor textarea {
  min-height: 150px;
}

.contenedor label {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: start;
}

.contenedor .btn {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}

.contenedor .campo {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 10px 15px;
  font-size: 1.4rem;
  margin-bottom: 22px;
  transition: all 0.3s linear;
}
.contenedor .campo:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.contenedor .campo:focus {
  border: 2px solid rgba(0, 0, 0, 0.47);
  background-color: #fff;
}
.contenedor textarea {
  min-height: 150px;
}

.contenedor .btn:hover {
  transform: scale(1.05);
}
.contenedor iframe {
  width: 100%;
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}



/*Sección nosotros*/



#aboutLink {
  text-decoration: none;
  transition: all 0.3s linear;
}

#aboutLink:hover {
  transition: all 0.3s linear;
}

.aboutUs {
  width: 100%;
}



#sectionAbout {
  background: white;
  width: 100%;
  /* height: 50%; */
  position: relative;
}



.imageAbout, .section2Image {
  position: relative;
  height: 250px;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

.imageAbout img, .section2Image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.infoAbout, .section2Info{
  display: block;
  padding: 41px 20px;
  text-align: center;
}

.infoAbout h2, .infoAbout h1 {
  color: var(--primary-color);
  font-size: 36px;
  text-align: center;
}

.infoAbout h1 {
  font-size: 26px;
}


.infoAbout #aboutP {
  color: var(--primary-color);
  font-size: 16px;
  text-align: center;
}


.infoAbout a {
  display: block;
  margin: 30px auto 0;
  color: var(--primary-color);
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px 0px 15px 0px;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.infoAbout a:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 15px 1px;
  transform: scale(1.05);
}


/*Fin sección nosotros*/


/*landing */


.pt-1 {
  padding-top: 82px;
}

.mt-1 {
  margin-top: 82px;
}



.container {
  max-width: 1621px;
  margin: 0 auto;
  padding: 0 20px;
}

.li-social{
  display: flex;
  justify-content: space-around;
}

.li-social a i{
  transition: all .3s linear
}

.li-social a i:hover {
  transform: scale(1.1);
}

.buttonTransparent {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1.16rem 4.27rem;
  transition: all .3s linear;
}

.buttonTransparent:hover {
  transform: scale(1.05);
}


.button--primary {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 600;
}



.landpage {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.landpage:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.22) 72%, rgba(0, 0, 0, 0.357) 100%);
}

.landingContainer {
  z-index: 1;
  display: flex;
  justify-content: center;
}

.landpageImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.landpageImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.textoCentrado{
  font-size: 7vh;
}

.landpage .landingTextoHeading {
  max-width: 800px;
  margin: 0 auto 4rem auto;
  font-size: clamp(5rem, 10vw, 10rem);
  line-height: 1;
}

.landpage .landingTextoBody {
  max-width: 500px;
  margin: 0 auto 3rem auto;
  font-size: 3vh;
}


/* CATEGORIAS */

.categorias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
}

.categoriasCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  min-height: 200px;
  min-width: 100%;
  overflow: hidden ;
}

.categoriasCard-title {
  font-size: 3rem;
  z-index: 2;
  text-align: center;
}

.categoriasCard--square {
  aspect-ratio: 1 / 1;
}

.categoriasImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.categoriasImg img {
  object-fit: cover;
  height: 100%;
  width: 100%
}



.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
}

.image-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}



.reserva {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative;
}

.reserva::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, black 10%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}

.reserva::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  background: #000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 10%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}

.reserva .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

.reserva .container {
  text-align: center;
  z-index: 1;
}

.reserva-img1 {
  background-image: url("/img/gintonic1.png");
}

.reserva-img1 .overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.028) 0%, #05050596 100%);
}




/* TABLET AND DESKTOP */

/* DESKTOP  TABLET */


@media screen and (min-width: 768px) {
  .categorias {
    flex-direction: row;
  }

  .categoriasCard {
    min-height: 550px;
    min-width: auto;
  }
  
  .categoriasCard-title {
    font-size: 3rem;
    z-index: 2;
    text-align: center;
  }

  /* ABOUT */

  #sectionAbout, #section2About {
    display: flex;

  }

  .imageAbout {
    width: 40%;
    height: 450px;
    order: 2;
  }

  .infoAbout {
    order: 1;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section2Image {
    width: 40%;
    height: 450px;

  }

  .section2Info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* RESERVATION */
  .contenedor .contact-box {
    grid-template-rows: 250px 1fr;
  }

  .contenedor .left {
    display: block;
  }

  .contenedor .right {
    max-width: 650px;
    padding: 25px 40px;


  }

  .contenedor label {
    font-size: 1.4rem;
  }


  /* FOOTER */

  .bg-dark .footer #footer-nav {
    flex-direction: row;
    justify-content: space-around;
  }

  .bg-dark .footer #footer-nav #footer-men {
    width: fit-content;
    display: flex;
    gap: 10px;
  }

}
@media screen and (min-width: 1024px) {
  .contenedor .contact-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

  }

  .contenedor .left {
    display: block;
  }

  .contenedor .right {
    max-width: 850px;
  }
}


/*fin landing*/


/*# sourceMappingURL=style.css.map */
